<!-- Load Static Files-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/_head.html' %}
    <body id="page-top">
        <!-- Navigation-->
        {% include 'partials/_nav.html' %}
        <!-- Masthead-->
        {% include 'partials/_header.html' %}
        <!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section>
        <!-- Content to be Different-->
        {% block body %}

        {% endblock %}
        <!-- Footer-->
        {% include 'partials/_footer.html' %}
        <!-- Bootstrap core JS-->
        {% include 'partials/_bootstrap_core_js.html' %}
    </body>
</html>
